@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-hide::-webkit-scrollbar {
  display: none;
}
.scroll-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.accordion.active .plus {
  display:none
}
.accordion.active .minus {
  display:block
}
.accordion .minus {
  display:none
}


#wdg-1e586f30-5c3c-4f28-b06f-57b79f839272 .trusted-stars-service-widget .wrapper {
  margin: 0px !important;
  
}


etrusted-widget {
  margin-left: -1.25em;
  margin-right: -1.25em;
  margin-top: -1.25em;
  margin-bottom: -1.25em;
}